*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* === Color ===  */
  --Purple-700: hsl(257, 40%, 49%);
  --Magenta-400: hsl(300, 69%, 71%);
  --White: hsl(0, 0%, 100%);
  --White-op: hsla(0, 0%, 100%, 0.7);
  --Black-op: hsla(0, 0%, 0%, 0.4);

  /* === Font Size ===  */
  --fs-lg: 2.5rem;
  --fs-md: 1.5rem;
  --fs-base: 1.15rem;
  --fs-sm: 0.95rem;
}

body {
  background-color: var(--Purple-700);
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  font-family: "poppins", sans-serif;
}

.main-container {
  min-height: 100vh;
  width: 8rem;
}

.logo-container {
    /* margin: 4rem; */
}
.logo {

}

.content-container {
  margin: 1rem 4rem 4rem;
  display: flex;
  gap: 3rem;
}

.community-mockup {
  display: block;
  max-width: 100%;
  height: auto;
}

.community-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
   /*  
   * Breakdown:
   * - flex-grow: 1       → Item grows to fill available space equally with other flex items
   * - flex-shrink: 1     → Item shrinks proportionally if space is limited
   * - flex-basis: 0      → Base size is 0, so items grow equally regardless of content
   */
   flex: 1 1 ;
}

.community-title {
  color: var(--White);
  font-size: clamp(var(--fs-md), 4vw, var(--fs-lg));
}

.community-description {
  font-family: "Open Sans", sans-serif;
  color: var(--White-op);
  line-height: 1.4;
  font-size: var(--fs-base);
  max-width: 50ch;
}

.register-btn {
  max-width: 50%;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  border: none;
  font-size: var(--fs-base);
  box-shadow: 0 5px 10px var(--Black-op);
  color: var(--Purple-700);
  font-weight: 600;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
} 

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Magenta-400);
}
